DATABASE_PROVIDER="sqlite"
DATABASE_URL="file:./dev.db"

NEXTAUTH_SECRET=024eac0aac2eac8e882fbe6aaa4657f4956913ba66dda3c9a88e25651993eb2e
NEXTAUTH_URL="http://localhost:3000"

AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
S3_BUCKET=""
S3_ENDPOINT=""
S3_FORCE_PATH_STYLE="false"

UPLOAD_DRIVER="local" # "local" or "s3"
UPLOAD_LOCAL_DIR="./storage/uploads"

SEED_ADMIN_PASSWORD="Admin@123"
